.project {
  &__right, &__left {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
  &__slider {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    position: relative;
  }
  &__next {
    font-size: 1rem;
    color: $button-color;
    text-decoration: underline;
  }
  &__next:after {
    content: " " ;
    width: 9px;
    height: 9px;
    border-top: 3px solid $button-color;
    border-right: 3px solid $button-color;
    transform: rotate(45deg);
    position: absolute;
    top: 10%;
    left: 101%;
  }

  &__subtitle {
    font-size: 1.5rem;
    color: $primary-color;
    margin: 60px 0 8px 0;
  }
  &__p {
    color: $article-color;
    margin: 0 0 72px 0;
  }
  &__btn {
    width: 185px;
    height: 56px;
    font-weight: bold;
    background-color: $button-color;
    color: $white;
  }

  &__circle {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid $button-color;
    &--blue {
      background-color: $button-color;
    }
    &--padd {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.row {
  &__project {
    display: flex;
    gap: 17px;
    margin: 56px auto 72px;
  }
}
