$primary-color: #120d0e;
$main-color: #3d3b3c;
$article-color: #bebebe;
$button-color: #3a4576;
$white: #fff;
$ellipse-color: #c4c4c4;


body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-size: 3.5rem;
}

a {
  text-decoration: transparent;
}
