

$primary-color: #120D0E;
$main-color: #3D3B3C;
$article-color: #bebebe;
$button-color: #3A4576;
$white: #fff;
$background-container: #fafafa;


body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-size: 3.5rem;
}
a {
  text-decoration: transparent;
}
