@import "normalize.css";
@import "bootstrap/scss/bootstrap-grid";


@import './fonts';
@import './global';

@import './blocks/about';
@import './blocks/skills';
@import './blocks/experience';

.svg-sprite {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container {
  margin: 0 auto;
}
.container__background {
  background-color: $background-container;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid $main-color;
}

.header a {
  font-size: 1.5rem;
  color: $main-color;
}
.header a:hover {
  text-decoration: line-through;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 72px;
  margin-top: 0;
  margin-bottom: 56px;
}

